/* Paperclip CSS v1.0.0 */

body {
    margin: 0; /* Remove default margin */
    width: 100%;
    font-family: system-ui, -apple-system, "Segoe UI", BlinkMacSystemFont, Roboto, "Noto Sans", proxima-nova, "Helvetica Neue", Arial, sans-serif;
}

:root {
    --red: #f22c2c;
    --red-hover: #d92828;
    --orange: #ff8519;
    --orange-hover: #e57816;
    --yellow: #ebc634;
    --yellow-hover: #d3b231;
    --lime: #00ff00;
    --lime-hover: #00e500;
    --green: #138516;
    --green-hover: #137113;
    --cyan: #0dcaf0;
    --cyan-hover: #0cb6d8;
    --primary: #0d6efd;
    --primary-hover: #0c63e4; /* #0b5ed7 old */
    --darkblue: #0000ff;
    --darkblue-hover: #0000cc;
    --purple: #6610f2;
    --purple-hover: #5c0dd8;
    --white: #ffffff;
    --dark: #141414;
    --black: #000000;
}

body {
    color: var(--dark);
}

red, .red, .text-red {
    color: var(--red);
}

.bg-red {
    background-color: var(--red);
}

orange, .orange, .text-orange {
    color: var(--orange);
}

.bg-orange {
    background-color: var(--orange);
}

yellow, .yellow, .text-yellow {
    color: var(--yellow);
}

.bg-yellow {
    background-color: var(--yellow);
}

lime, .lime, .text-lime {
    color: var(--lime);
}

.bg-lime {
    background-color: var(--lime);
}

green, .green, .text-green {
    color: var(--green);
}

.bg-green {
    background-color: var(--green);
}

cyan, .cyan, .text-cyan {
    color: var(--cyan);
}

.bg-cyan {
    background-color: var(--cyan);
}

primary, .primary, .text-primary {
    color: var(--primary);
}

.bg-primary {
    background-color: var(--primary);
}

darkblue, .darkblue, .text-darkblue {
    color: var(--darkblue);
}

.bg-darkblue {
    background-color: var(--darkblue);
}

purple, .purple, .text-purple {
    color: var(--purple);
}

.bg-purple {
    background-color: var(--purple);
}

white, .white, .text-white {
    color: white;
}

gray, .gray, .text-gray {
    color: #606060;
}

black, .black, .text-black {
    color: black;
}

.bg-black {
    background-color: black;
}

p {
    margin: 0;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 750;
}

h1 {
    font-size: calc(1.75rem + 1.5vw);
}

h2 {
    font-size: calc(1.425rem + 1vw);
}

h3 {
    font-size: calc(1.3rem + 0.6vw);
}

h4 {
    font-size: calc(1.275rem + 0.3vw);
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

div.container.w-10 {
    margin-left: 45%;
    margin-right: 45%;
}

div.container.w-20 {
    margin-left: 40%;
    margin-right: 40%;
}

div.container.w-25 {
    margin-left: 37.5%;
    margin-right: 37.5%;
}

div.container.w-30 {
    margin-left: 35%;
    margin-right: 35%;
}

div.container.w-33 {
    margin-left: 33.333333333%;
    margin-right: 33.333333333%;
}

div.container.w-40 {
    margin-left: 30%;
    margin-right: 30%;
}

div.container.w-50 {
    margin-left: 25%;
    margin-right: 25%;
}

div.container.w-60 {
    margin-left: 20%;
    margin-right: 20%;
}

div.container.w-66 {
    margin-left: 16.666666667%;
    margin-right: 16.666666667%;
}

div.container.w-70 {
    margin-left: 15%;
    margin-right: 15%;
}

div.container.w-75 {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

div.container.w-80 {
    margin-left: 10%;
    margin-right: 10%;
}

div.container.w-90 {
    margin-left: 5%;
    margin-right: 5%;
}

.m-0 {
    margin: 0;
}

.m-1 {
    margin: 1%;
}

.m-2 {
    margin: 2%;
}

.m-3 {
    margin: 3%;
}

.m-4 {
    margin: 4%;
}

.m-5 {
    margin: 5%;
}

.mt-1 {
    margin-top: 1%;
}

.mt-2 {
    margin-top: 2%;
}

.mt-3 {
    margin-top: 3%;
}

.mt-4 {
    margin-top: 4%;
}

.mt-5 {
    margin-top: 5%;
}

.small:not(h1, h2, h3, h4, h5, h6) {
    font-size: 0.75em;
}

.large:not(h1, h2, h3, h4, h5, h6) {
    font-size: 1.25em;
}

h1.small, h2.small, h3.small, h4.small, h5.small, h6.small {
    transform: scale(0.75);
    /*transform-origin: top left;*/
    display: inline-block;
}

h1.large, h2.large, h3.large, h4.large, h5.large, h6.large {
    transform: scale(1.25);
    /*transform-origin: top left;*/
    display: inline-block;
}

h1.regular, h2.regular, h3.regular, h4.regular, h5.regular, h6.regular {
    font-weight: 500;
}

.align-left {
    text-align: left;
}

.centered, .text-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

highlight, .highlight {
    width: auto;
    padding: 0;
    height: auto;
    display: inline;
    background-color: yellow;
}

div.container {
    display: block;
    margin-left: 10%;
    margin-right: 10%;  
    padding: 0;    
    height: auto;       /* Height adjusts based on content */
    box-sizing: border-box;
}

div.container-fluid {
    display: block;
    width: 100%;
    padding: 0;    
    height: auto;       /* Height adjusts based on content */
    box-sizing: border-box;
}

div.container.flex, div.container-fluid.flex {
    display: flex !important;
    flex-wrap: wrap;
}

div.container.col, div.container-fluid.col {
    margin: 0;
    flex: 1;
    box-sizing: border-box;
}

@media (max-width: 576px) {
    div.container.flex.sm, div.container-fluid.flex.sm {
        flex-direction: column;
    }
}

@media (min-width: 577px) {
    div.container.flex.sm, div.container-fluid.flex.sm {
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    div.container.flex.md, div.container-fluid.flex.md {
        flex-direction: column;
    }
}

@media (min-width: 769px) {
    div.container.flex.md, div.container-fluid.flex.md {
        flex-direction: row;
    }
}

@media (max-width: 992px) {
    div.container.flex.lg, div.container-fluid.flex.lg {
        flex-direction: column;
    }
}

@media (min-width: 993px) {
    div.container.flex.lg, div.container-fluid.flex.lg {
        flex-direction: row;
    }
}

div.container.rounded, div.container-fluid.rounded {
    border-radius: 5px;
}

.bold {
    font-weight: bold;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 1% !important;
}

.p-2 {
    padding: 2% !important;
}

.p-3 {
    padding: 3% !important;
}

.p-4 {
    padding: 4% !important;
}

.p-5 {
    padding: 5% !important;
}

button {
    border: none;
    padding: 0.5em 0.75em !important;
    border-radius: 0.375em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
    background-color: #dddddd;
}

button.primary {
    background-color: var(--primary);
    color: white; /* white text against background */
}

button.primary:hover {
    background-color: var(--primary-hover);
}

button.red {
    background-color: var(--red);
    color: white;
}

button.red:hover {
    background-color: var(--red-hover);
}

button.orange {
    background-color: var(--orange);
    color: white;
}

button.orange:hover {
    background-color: var(--orange-hover);
}

button.yellow {
    background-color: var(--yellow);
    color: white;
}

button.yellow:hover {
    background-color: var(--yellow-hover);
}

button.lime {
    background-color: var(--lime);
    color: white;
}

button.lime:hover {
    background-color: var(--lime-hover);
}

button.green {
    background-color: var(--green);
    color: white;
}

button.green:hover {
    background-color: var(--green-hover)
}

button.cyan {
    background-color: var(--cyan);
    color: white;
}

button.cyan:hover {
    background-color: var(--cyan-hover);
}

button.darkblue {
    background-color: var(--darkblue);
    color: white;
}

button.darkblue:hover {
    background-color: var(--darkblue-hover);
}

button.purple {
    background-color: var(--purple);
    color: white;
}

button.purple:hover {
    background-color: var(--purple-hover);
}

.shadow {
    text-shadow: 2px 2px #606060;
}

iframe:not(iframe.border) {
    border: none;
}

div.container-fluid.navbar {
    background-color: #333 !important;
    color: white;
    margin-top: 0;
    width: 100% !important;
    display: flex;
    position: fixed;
}

div.container-fluid.navbar div.container.nav-item.text-logo {
    font-weight: 750;
    transform: scale(1.5);
}

div.container-fluid.navbar div.container.nav-item {
    margin-right: 15px;
}

div.container-fluid.navbar div.container.nav-item:last-child {
    margin-right: 0;
}

div.container-fluid.navbar div.container.nav-item a {
    color: white;
    text-decoration: none;
}

div.container-fluid.navbar div.container.nav-item a:hover {
    color: #bcbcbc;
}